body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

p{
    font-size: 25px;
    margin-top: 50px;
}

h1{
    font-size: 55px;
    font-weight: 700;
    padding-left: 20px;
    margin: 0;
    line-height: 60px;
}

#vertical-line{
    border-left: 5px solid blueviolet;
    border-radius: 5px;
}

.flex-section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.half-width img{
    width: 75%;
}

.diff-color{
    color: rgb(34, 185, 135);
}

.link-button{
    text-decoration: none;
    margin: 50px 0px;
    font-weight: 700;
    color: white;
    background-color: blueviolet;
    padding: 10px 40px;
    border-radius: 10px;
}