body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

p{
    font-size: 20px;
    margin-top: 50px;
}

h1{
    font-size: 55px;
    font-weight: 700;
    padding-left: 20px;
    margin: 0;
    line-height: 60px;
}

h2{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

h3{
    font-size: 30px;
    font-weight: 700;
    border: 0;
    margin: 0;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 140px;
}

#vertical-line{
    border-left: 5px solid blueviolet;
    border-radius: 5px;
}

#myself{
    color: rgba(65, 35, 35, 0.8);
    margin: 50px 50px 150px;
    padding: 20px;
    border: 5px solid teal;
    border-radius: 50px;
    background-color: rgb(235, 247, 235);
    box-shadow: 20px 10px 80px rgba(0, 128, 128, 0.486);
}

#myself h1{
    padding: 0;
}

#mission{
    background-color: lightpink;
    border-radius: 30px;
}

#vision{
    background-color: lightcyan;
    border-radius: 30px;
}

#goals{
    background-color: lightgray;
    border-radius: 30px;
}

#dev-section{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left center;
}

#comm-section{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 90% 90%;
}

.flex-section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.half-width img{
    width: 75%;
}

.diff-color{
    color: rgb(34, 185, 135);
}

.link-button{
    text-decoration: none;
    margin: 50px 0px;
    font-weight: 700;
    color: white;
    background-color: blueviolet;
    padding: 10px 40px;
    border-radius: 10px;
}

.one-third{
    margin: 40px;
    width: 33%;
    padding: 40px;
    box-sizing: border-box;
}

.one-third img{
    height: 150px;
    width: auto;
}
